.Popups {
  position: relative;

  .trigger {
    margin: 0;
    outline: none;
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }
  }

  .options {
    position: absolute;
    z-index: 10;
    border: 1px solid var(--primary--text);
    border-radius: 4px;
    padding: 0.5rem 0.8rem;
    width: max-content;
    background: var(--bg-primary-block);
    transition: all 0.4s ease;
  }

  .optionsBottomLeft {
    left: 0;
    top: 100%;
  }

  .optionsBottomRight {
    right: 0;
    top: 100%;
  }

  .optionsTopRight {
    left: 0;
    bottom: 100%;
  }

  .optionsTopLeft {
    right: 0;
    bottom: 100%;
  }
}
