.theme__dark {
  --bg-primary: #0e141b;
  --bg-primary-block: #192028;
  --bg-primary-block-hover: #535e6b;
  --bg-primary-input: #4d5274;
  --primary--text: #f0f4f9;
  --primary--text--error: #f65151;
  --primary--text--success: #3cb939;
  --primary--text--normal: #515ff6;
  --primary--link: #c2c2c2;
  --bg-primary-loader: #f7f8f8;
  --color-swither: #dfe7eb;
  --skeleton-color: #1f262d;
  --skeleton-shadow: #252833;
}
