.theme__light {
  --bg-primary: #f7f8f8;
  --bg-primary-block: #fff;
  --bg-primary-block-hover: #f5f5f5;
  --bg-primary-input: #f1f5f9;
  --primary--text: #010101;
  --primary--text--error: #fb5e5e;
  --primary--text--success: #4ce761ff;
  --primary--text--normal: #4c8ae7;
  --primary--link: #0a3465;
  --bg-primary-loader: #0e141b;
  --color-swither: #f3dd4a;
  --skeleton-color: #ececec;
  --skeleton-shadow: #d3cdcd;
}
