.theme__new {
  --bg-primary: #122539;
  --bg-primary-block: #192028;
  --bg-primary-block-hover: #44505d;
  --bg-primary-input: #676d9f;
  --primary--text: #f4f7fb;
  --primary--text--error: #e82626;
  --primary--text--success: #2ba427;
  --primary--text--normal: #2b36ab;
  --primary--link: #f4f7fb;
  --bg-primary-loader: #f4f7fb;
  --color-swither: #f4f7fb;
}