.Tabs {
  display: flex;
  align-items: center;
  gap: 1rem;

  .tab {
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    color: var(--primary--text);
    background: var(--bg-primary-block);
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}